* {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: normal;
}

body {
    background-color:rgb(10,28,58);
}
.app{
    margin: 5%;
}
.app__title{
    margin-bottom: 5%;
}
.city-form__search-field{
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background-color: rgb(10, 28, 58);
    padding-bottom: 7px;
}

::placeholder{
    color: white;
}

.city-form__search-btn{
    background-color: rgb(255, 25, 63);
    border: rgb(255, 25, 63);
    border-radius: 5%;
    padding: 10px;
}
.city{
    background-color: white;
    color: black;
    min-width: 200px;
    height: auto;
    margin-top: 5%;
    margin-right: 2%;
    border-radius: 20px;
    padding: 2%;
    display: inline-block;
}
.city-header__city-name{
    color: black;
    display: inline-block;
}
.city-header__country{
    background-color: rgb(255, 129, 37);
    font-size: 10px;
    text-align: center;
    width: 20px;
    border-radius: 30%;
    display: inline-block;
    
}
.city__temperature{
    color: black;
    font-size: 50px;
}
.city__temperature > sup{
    color: inherit;
    font-size: 20px;
}
.city__weather-description{
    color: black;
}
